/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .custom-header-text {
        padding: 40px 0;
    }
    .custom-header-text h1 {
        font-size: 21px;
        text-align: center;
    }
    .custom-header-text h2 {
        font-size: 30px;
        text-align: center;
    }
    .custom-header-text button {
        padding: 8px 18px;
    }
    .slider-box {
        display: none;
        
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .custom-header-text h1 {
        font-size: 31px;
        text-align: center;
    }
    .custom-header-text h2 {
        font-size: 40px;
        text-align: center;
    }
    .custom-header-text button {
        padding: 12px 22px;
    }
    .slider-box {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}